DATABASE_URL="mysql://root:root@localhost:3306/speaky_mouse"
AUTH_SECRET="..." # Run `npx auth secret` to generate. Read more: https://cli.authjs.dev

DISABLE_PASSWORD_LOGIN=false


# +----[ OAuth Providers ]----
# | We provide integration with most BetterAuth supported OAuth providers
# | You can enable as many as you want by adding the respective keys/secrets below.
# | Better auth providers: https://www.better-auth.com/docs/authentication/email-password
# +----------------------------
# Required format:
# AUTH_<provider>_ID=
# AUTH_<provider>_SECRET=
#
# Example for GitHub:
# AUTH_GITHUB_ID="your_github_client_id"
# AUTH_GITHUB_SECRET="your_github_client_secret"
