@import 'tailwindcss';

@theme {
	--color-background: #1e2a32;
	--color-surface: #2a3a44;
	--color-primary: #7ec8e3;
	--color-accent: #f4978e;
	--color-typo-primary: #f3f6f7;
	--color-typo-secondary: #a0b0b5;
	--color-highlight: #62b6b7;

	--color-not-translated: #212a30;
	--color-suggested: #215461;
	--color-approved: #2a9d53;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
